.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/
*.egg

*.pt
*.pth

dump/*
!dump/01-14-2026
!dump/01-19-2026
!dump/01-20-2026
data/*
logs/
temp/

.vscode/
.idea/
*.swp
*.swo

.ipynb_checkpoints/

Miniconda3-latest-Linux-x86_64.sh
run_exp.sbatch
run_exp.sh
ARCHITECTURE.md 