.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/
*.egg

*.pt
*.pth

dump/*
!dump/01-12-2026
data/pcg_harvested/*
data/SuiteSparse/*
logs/

.vscode/
.idea/
*.swp
*.swo

.ipynb_checkpoints/

Miniconda3-latest-Linux-x86_64.sh
run_exp.sbatch